/* Mobile Styles */
@media only screen and (max-width: 600px) {}

/* Tablet Styles */
@media only screen and (min-width: 601px) and (max-width: 960px) {}

/* Desktop Styles */
@media only screen and (min-width: 961px) {}

html, 
body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    margin: 0;
    font-family: 'Lexend', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "screen";
}

.screen {
    grid-area: screen;
}

canvas {
    z-index: 1;
    filter: grayscale(100%) contrast(0.5) blur(5px);
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(20px) saturate(1) contrast(1) brightness(1);
}

.textBoxes {
    height: 95vmin;
    width: 99vmax;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 3fr 3fr 3fr 3fr 3fr 3fr 3fr 1fr;
    grid-template-areas:
        ". . . . . ."
        ". . topBox . . ."
        ". middleBox . . . ."
        ". . . bottomBox . ."
        ". . . . . ."
        ". . detailsBox . . ."
        ". . . lucyBox . ."
        ". daysSince . . . ."
        ". . . . . .";
    z-index: 3;
    color: white;
    font-size: 7vmin;
}

.detailsBox {
    grid-area: detailsBox;
    font-size: 4vmin;
}
.topBox {
    grid-area: topBox;
}
.middleBox {
    grid-area: middleBox;
}
.bottomBox {
    grid-area: bottomBox;
}
.lucyBox {
    grid-area: lucyBox;
    font-size: 4vmin;
}
.daysSince {
    grid-area: daysSince;
    font-size: 3vmin;
}

.show {
    display:block;
}
.hide {
    display: none;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }